@{
    ViewData["Title"] = "About Our Car Collection";
}

<h2 class="text-center my-4">About Our Car Collection</h2>

<p class="text-center">
    This project is a web application that allows users to browse, compare, and learn more about various luxury and sports cars.
</p>

<hr class="my-5" />

<h3 class="text-center mt-4"> Explore Our Car Collection</h3>
<p class="text-center">
    Take a look at one of the most impressive car collections in the United States!
</p>

<div class="d-flex justify-content-center my-4">
    <div class="embed-responsive embed-responsive-16by9" style="max-width: 90%;">
        <iframe class="embed-responsive-item" width="560" height="315"
                src="https://www.youtube.com/embed/y79bQKZpSkE"
                title="EVERYTHING at the 2024 LA Auto Show // Full Show Floor Tour"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</div>

<hr class="my-5" />

<h3 class="text-center mt-4"> Our Location</h3>
<p class="text-center">
    Based in Los Angeles, California, our car collection showcases the finest luxury and high-performance vehicles available for enthusiasts and collectors.
</p>

