@{
    ViewData["Title"] = "About Car Collection";
}

<h2 class="text-center my-4">About Car Collection</h2>
<p class="text-center">
    This project is a web application that allows users to browse, compare, and learn more about various luxury and sports cars.
</p>

<h3 class="text-center mt-5">Explore Our Car Collection</h3>
<p class="text-center">Take a look at one of the most impressive car collections in the United States!</p>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y79bQKZpSkE" title="EVERYTHING at the 2024 LA Auto Show // Full Show Floor Tour" frameborder="0" allowfullscreen></iframe>




</div>

<h3 class="text-center mt-5">Our Location</h3>
<p class="text-center">
    Based in Los Angeles, California, our car collection showcases the finest luxury and high-performance vehicles available for enthusiasts and collectors.
</p>

